.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.coverContainer {
  position:fixed;top:0;left: 0;width:100%;height:100%;
}

.decoration1{
  background-image: url("detalle.png");
  background-size: 100px;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  background-position-y: 200px;
}

.decoration2{
  background-image: url("detalle.png");
  background-size: 100px;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  background-position-y: 200px;
  background-position-x: right;
}

.backgroundNavbar {
  background-image: url("bg.jpeg");
}

.leftside , .rightside {
  position: absolute;
  top: 5px;
  height : 79vh;
  width:100%; 
}

.leftside {
  background :bg-dark;
}

.rightside {
  background : bg-dark;
}
    
.informationBox{
  background : white;
  height : 70%;
  width:70%; 
}

.backgroundDescription{
  background-image: url("descripcion.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: top;
  width: 1000px;  
  height: 700px;
}

.parrafo {
  top: 100px;
  left: 0px;
  line-height: 200%;
  font-size: 20px;
  text-align: center;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alineadoCentro{
  position: absolute;
  top: 3%;  
  left: 50%;
  transform: translate(-50%, -50%);
}
.alineadoIzquierda{
  position: absolute;
  width:100%;
  top: 10%;
    
}
.izquierda{
  position :relative;
  left: -48%;
}
.verticalLine {
  
  border-left: 4px;
  height: 40px;
  
}
.inline{
  display: inline;
  top: 13%;
  font-Size: 2vw;

  
  

}
.inlinePar{
  display: inline;
  min-height: 10%;
  font-Size: 1.2vw;
  left:3%;
  top: 18%;
}


/**************A partir de acá están los estilos del organigrama************************/
:root {
  --level-1: #8dccad;
  --level-2: #f5cc7f;
  --level-3: #7b9fe0;
  --level-4: #f27c8d;
  --white: white;
  }
  .orgcontainer {
  max-width: 1000px;
  
  }
  .rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
/*Rectángulo principal del organigrama*/
.level-1 {
  width: 50%;
  margin: 0 auto 40px;
  background: var(--level-1);
}
.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
/*CUSTOM VARIABLES HERE*/
.level-2-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 25%;
  width: 50%;
  height: 2px;
  background: var(--white);
}
.level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background: var(--white);
}
.level-2-wrapper li {
  position: relative;
}
.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
.level-2 {
  width: 70%;
  margin: 0 auto 40px;
  background: var(--level-2);
}
.level-2::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
.level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--white);
}
/*CUSTOM VARIABLES HERE*/
.level-3-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.level-3-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(25% - 5px);
  width: calc(50% + 10px);
  height: 2px;
  background: var(--white);
}
.level-3-wrapper > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
.level-3 {
  margin-bottom: 20px;
  background: var(--level-3);
}
