.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.coverContainer {
  position:fixed;top:0;left: 0;width:100%;height:100%;
}

.decoration1{
  background-image: url("detalle.png");
  background-size: 100px;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  background-position-y: 200px;
}

.decoration2{
  background-image: url("detalle.png");
  background-size: 100px;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  background-position-y: 200px;
  background-position-x: right;
}


.backgroundNavbar {
  background-image: url("bg.jpeg");
}

.backgroundDescription{
  background-image: url("descripcion.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: top;
  width: 1000px;  
  height: 700px;
}

.parrafo {
  top: 100px;
  left: 0px;
  line-height: 200%;
  font-size: 20px;
  text-align: center;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alineadoCentro{
  position: absolute;
  top: 30px;  
  left: 50%;
  transform: translate(-50%, -50%);
}
.alineadoIzquierda{
  position: absolute;
  width: 2000px;
  top: 50px;
  
  left: 50px;
  transform: translate(-50%, -50%);
}

.verticalLine {
  
  border-left: 4px;
  height: 40px;
  
}
.inline{
  display: inline;
  

}
.inlinePar{
  display: inline;
  top: 14px;
}
.inlineParRes{
  display: inline;
  top: 46px;
}
