.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.coverContainer {
  position:fixed; top:0;left: 0;width:100%;height:100%;
}
.backgroundNavbar {
  background-image: url("img/bg.jpeg");
}

/*Ubicación*/

/* 
1.leftSide: Tag div que abarca el 50% del ancho de la pantalla (Parte izquierda) y un 88% vertical.
2.RightSide: Tag div que abarca el 50% del ancho de la pantalla (Parte derecha) y un 88% vertical.
3. Responsive Ifram: Mapa de googlemaps mostrando la ubicacion.
4. InformacionBox: Contenedor ubicado dentro de rightsdise que va a contener todo la informacion
5. ParrafoLocation: Muestra el texto plano de la página de ubicacion del producto y ajusta el tamaño y posición de dicho texto.
*/

.leftside , .rightside {
  position: absolute;
  top: 2px;
  height : 88vh;
  width:100%; 
  background :bg-black;
}

.parrafoLocation{
  font-size: 2vmin;
}
.TituloLocation{
  font-size: 2.5vmin;
}

.informationBox {
  background : white;
  font-family: Arial, Helvetica, sans-serif;
  height : 61.6vh;
  width: 35vw;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 25px 2px 20px 23px black;
  
}

.responsive-iframe{
  box-shadow: -25px 2px 20px 23px black;
}

/*DESCRIPCION DEL PRODUCTO*/

/* 
1.backgroundDescription: Despliega la imagen de fondo en la página de descripción del producto. También establece el tamaño y la posición del contenedor.
2. Parrafo: Muestra el texto plano de la página de descripción del producto y ajusta el tamaño y posición de dicho texto.
*/

.backgroundDescription{
  width: 100%;
  background-image: url("img/descripcion.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: top;
}

.parrafo {
  height: auto;
  width: 60%;
  font-size: 120%;
  line-height: 200%;
  margin: 0 auto;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.alineadoCentro{
  position: absolute;
  top: 3%;  
  left: 50%;
  transform: translate(-50%, -50%);
}
.alineadoIzquierda{
  position: absolute;
  width:100%;
  top: 10%;
    
}
.izquierda{
  position :relative;
  left: -48%;
}
.verticalLine {
  
  border-left: 4px;
  height: 40px;
  
}
.inline{
  display: inline;
  top: 13%;
  


  
  

}
.inlinePar{
  display: inline;
  min-height: 10%;
  
  left:4%;
  top: 22%;
}


/**************A partir de acá están los estilos del organigrama************************/
:root {
  --level-1: #8dccad;
  --level-2: #f5cc7f;
  --level-3: #7b9fe0;
  --level-4: #f27c8d;
  --white: white;
  }
  .orgcontainer {
  max-width: 1000px;
  
  }
  .rectangle {
  position: relative;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
/*Rectángulo principal del organigrama*/
.level-1 {
  width: 50%;
  margin: 0 auto 40px;
  background: var(--level-1);
}
.level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
/*CUSTOM VARIABLES HERE*/
.level-2-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 25%;
  width: 50%;
  height: 2px;
  background: var(--white);
}
.level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background: var(--white);
}
.level-2-wrapper li {
  position: relative;
}
.level-2-wrapper > li::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
.level-2 {
  width: 70%;
  margin: 0 auto 40px;
  background: var(--level-2);
}
.level-2::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
.level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  background: var(--white);
}
/*CUSTOM VARIABLES HERE*/
.level-3-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.level-3-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(25% - 5px);
  width: calc(50% + 10px);
  height: 2px;
  background: var(--white);
}
.level-3-wrapper > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 2px;
  height: 20px;
  background: var(--white);
}
.level-3 {
  margin-bottom: 20px;
  background: var(--level-3);
}
